{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>colors6(엔딩으로넘어가는단계)</title>
    <link rel="stylesheet" href="{% static '/css/colors6.css' %}" />
  </head>
  <body>
    <div id="container">
      <div id="fade-out-box"></div>
      <form method="POST" action="{% url 'qna:toPage' pIndex=6 %}">
        {% csrf_token %}
        <button type="submit" id="clickzone">ending 으로 이동</button>
      </form>
    </div>
  </body>
</html>
