{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>colors5</title>
    <link rel="stylesheet" href="{% static '/css/colors5.css' %}" />
  </head>
  <body>
    <div id="bigbg">
      <div id="container">
        <div id="color">
          <div id="fade-out-box"></div>
          <form method="POST" action="{% url 'qna:toPage' pIndex=5 %}">
            {% csrf_token %}
            <button type="submit" id="clickzone">colors6으로 이동</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
