#container {
  position: relative;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("/images/basicbg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.narration {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#text {
  margin: 0;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#btnArea {
  opacity: 0;
  position: absolute;
  bottom: 200px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#startBtn {
  border: none;
  width: 120px;
  height: 32px;
  background-image: url("/images/label.png");
  background-size: cover;
  color: #f9f5eb;
  font-family: Pretendard Variable;
  font-size: 15px;
  font-style: normal;
}

:root {
  --ti-cursor-color: rgb(232, 52, 84, 1);
}
