{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Narration</title>
    <link rel="stylesheet" href="{% static '/css/narration.css' %}" />
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="narration"><p id="text"></p></div>
      <!-- 나레이션 마지막에 버튼 눌러서 qna_start.html로 이동 -->
      <div id="btnArea">
        <form method="POST" action="{% url 'qna:show_question' user.qrecord %}">
           {% csrf_token %}
          <button id="startBtn" type="submit">
            <span>유영하러 가기</span>
          </button>
        </form>
      </div>
    </div>
    <script src="/static/js/narration.js"></script>
  </body>
</html>
