{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>게시글 생성</title>
    <link rel="stylesheet" href="/static/css/post_create.css" />
  </head>
  <body>
    <div id="container">
      <div id="goBack" style="position: absolute; top: 61px; right: 25px">
        <a href="http://127.0.0.1:8000/post/"
          ><img src="/static/Image/backBtn.png"
        /></a>
      </div>
      <img src="/static/Image/write.png" id="textBox" />
      <form method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="title"
          id="title"
          placeholder="제목을 적어주세요"
          value="{{ post.title }}"
        />
        <textarea
          id="text"
          placeholder="당신 또는 다른 사람에게 전하고 싶은 이야기를 적어주세요."
          type="textarea"
          name="content"
          value="{{ post.content }}"
        ></textarea>
        <div id="box"><button id="backBtn" type="submit">작성하기</button></div>
      </form>
    </div>
  </body>
</html>
