{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/static/css/post_detail.css" />
  </head>
  <body>
    <div id="bigbg">
      <div id="container">
        <img src="/static/Image/GuestBook.png" id="textBox" />
        <div id="title">{{ post.title }}</div>
        <div id="info">
          <div id="username">{{ post.writer.username }}</div>
          <div id="time">작성시간: {{post.created_at}}</div>
        </div>
        <div id="content">{{ post.content }}</div>
        <div id="backBtn">
          <a href="http://127.0.0.1:8000/post">돌아가기</a>
        </div>
      </div>
    </div>
  </body>
</html>
