{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post List</title>
    <link rel="stylesheet" href="/static/css/post_list.css" />
  </head>
  <body>
    <div id="container">
      <img src="/static/Image/GuestBook.png" id="textBox" />
      {% for post in posts %}
      <div id="guest-list">
        <div id="text">
          <div id="title">
            <a href="{% url 'post:post_detail' pk=post.pk%}"
              >{{ post.title }}</a
            >
          </div>
          <div id="username">{{ post.writer.username }}</div>
        </div>
        <div id="btn">
          <form method="GET" action="{% url 'post:post_edit' pk=post.pk %}">
            <button button type="submit">
              <img id="pencil" src="/static/Image/pencil.png" />
            </button>
          </form>
          <form method="GET" action="{% url 'post:post_delete' pk=post.pk %}">
            <button type="submit">
              <img id="trashcan" src="/static/Image/trashcan.png" />
            </button>
          </form>
        </div>
      </div>
      {% endif %} {% endfor %}
      <div id="writeBtn">
        <a href="http://127.0.0.1:8000/post/create">작성하기</a>
      </div>
    </div>
  </body>
</html>
