<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <h1>로그인</h1>
    <form method="POST" action="{% url 'user:login' %}">{% csrf_token %}
        <h5>아이디</h5>
        <input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}">
        <h5>비밀번호</h5>
        <input type="password" name="password" value="{{ form.password.value|default_if_none:'' }}">
        <button type="submit">로그인</button>
    </form>
</body>
</html>