#container {
  position: relative;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("../images/mirrorbg.png");
  background-size: cover;
}
#textBox {
  position: relative;
  width: 222px;
  height: 84px;
  margin: auto;
  top: 380px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#goBtn {
  position: relative;
  width: 108px;
  height: 29px;
  top: 390px;
  margin-left: 140px;
  background-image: url("../images/label.png");
  background-size: cover;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  outline: 0px;
  border: 0px;
}
