#bigbg {
  position: relative;
  width: auto;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/bigbg.png");
  background-size: cover;
}
#container {
  position: relative;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/mainbg.png");
  background-size: cover;
}
#box {
  position: relative;
  width: 390px;
  height: 700px;
  margin: auto;
  margin-top: 10px;
}
#click {
  position: relative;
  width: 136px;
  height: 16px;
  margin: auto;
  top: 180px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#ctitle {
  position: relative;
  width: 96px;
  height: 146px;
  margin-left: 145px;
  top: 350px;
  color: #000;
  text-align: center;
  font-family: Signika Negative SC;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  background-color: white;
}
#ktitle {
  position: relative;
  width: 10px;
  height: 146px;
  margin-left: 225px;
  top: 280px;
  color: #000;
  text-align: center;
  font-family: Signika Negative SC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#btnbox {
  position: relative;
  width: 507px;
  height: 21px;
  margin-left: 146px;
  top: 220px;
}
#loginBtn {
  position: relative;
  width: 200px;
  height: 21px;
  margin-right: 5px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#registerBtn {
  position: relative;
  width: 200px;
  height: 21px;
  margin-left: 5px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
