#container {
  position: relative;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("/static/Image/basicbg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textBox {
  margin-top: 210px;
  margin-bottom: 40px;
  width: 280px;
  height: 54px;
  justify-content: center;
}

#scroll {
  height: 342px;
  overflow: auto;
}

a {
  text-decoration: none;
}

#guest-list {
  position: relative;
  width: 310px;
  margin: 10px 30px;
  padding: 0px 10px;
  border-bottom: #726969 solid 1px;
  display: flex;
  align-items: center;
}

#title {
  margin: 5px 0px;
  color: #002b5b;
  font-family: Pretendard Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#title > a {
  color: #002b5b;
}

#username {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #002b5b;
  font-family: Pretendard Variable;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#btn {
  position: absolute;
  right: 10px;
  display: flex;
}

button {
  padding: 0px;
  border: none;
  background-color: transparent;
}

#pencil {
  padding: 5px;
  width: 19px;
  height: 19px;
}

#trashcan {
  padding: 5px;
  width: 19px;
  height: 19px;
}

#writeBtn {
  position: absolute;
  bottom: 23.5px;
  width: 120px;
  height: 32px;
  margin: 30px 0px;
  background-image: url("/static/Image/label1.png");
  background-size: cover;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

#writeBtn > a {
  color: #f9f5eb;
}
