#bigbg {
  position: relative;
  width: auto;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/bigbg.png");
  background-size: cover;
}
#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/basicbg.png");
  background-size: cover;
}

#qtextBox {
  position: relative;
  width: 284px;
  height: 184;
  margin-top: 60px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#toMain {
  width: 41px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 61px;
  left: 25px;
}

#goReplyBtn {
  position: relative;
  width: 108px;
  height: 29px;
  margin-top: 50px;
  background-image: url("../../static/Image/label.png");
  background-size: cover;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  border: 0px;
  background-color: white;
}
