#bigbg {
  position: relative;
  width: auto;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/bigbg.png");
  background-size: cover;
}
#container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/basicbg.png");
  background-size: cover;
}
#qtextBox {
  position: relative;
  width: 284px;
  height: auto;
  top: 200px;
  margin-bottom: 15px;
  margin: auto;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#content {
  position: relative;
  top: 250px;
  margin-left: 55px;
  width: 275px;
  height: 343px;
  border: 1.5px solid #e83454;
  resize: none;
  font-size: 24px;
}
#saveBtn {
  position: relative;
  width: 108px;
  height: 29px;
  top: 280px;
  margin-left: 140px;
  background-image: url("../../static/Image/label.png");
  background-size: cover;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  outline: 0px;
  border: 0px;
}
