#container {
  position: relative;
  width: 390px;
  height: 808px;
  margin: auto;
  background-image: url("../../static/Image/mirrorbg.png");
  background-size: cover;
}

#textBox {
  position: relative;
  width: 222px;
  height: 84px;
  margin: auto;
  top: 370px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#goBtn {
  position: relative;
  width: 110px;
  height: 29px;
  top: 380px;
  margin-left: 140px;
  background-image: url("../../static/Image/label.png");
  background-size: cover;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  outline: 0px;
  border: 0px;
}

button {
  background-color: transparent;
  border: none;
  color: #f9f5eb;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

#goBtn,
#textBox {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
